.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/pt-sans-italoc.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold-italic.woff2") format("woff2");
  font-display: swap;
}

/* PT Sans Narrow */
@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-narrow-bold.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  background-color: #FFFFFF;
  color: #333333;
}

.button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #756157;
  }

/* Pages */

.page-header {
color: #000000;
background-color: #FFFFFF;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  background-color: #FFFFFF;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
}
.favorites {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #756157;
}

.hero {
  color: #000000;
  background-color:#FFFFFF ;
  background-image: url("../images/mountains_full.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 1200px;
  height: 485px;
}

.intro-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700px;
  text-align: center;
  text-transform: uppercase;
}
.intro-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.advantages-list {
  text-align: center;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description {
  text-align: center;
}
.services-title-main {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700px;
  text-align: center;
  text-transform: uppercase;
}
.services-description-main {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.services-name {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700px;
  text-align: center;
  text-transform: uppercase;
}

.services-description {
  text-align: center;
  color: #333333;
}

.choice-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700px;
  text-align: center;
  text-transform: uppercase;
}

.choice-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.sending-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700px;
  text-align: center;
  text-transform: uppercase;
}

.sending-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.newsletter-email {
  font-size: 18px;
  line-height: 24px;
  text-align: left;
}

.newsletter-button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #82B3D3;
}
.footer-contacts-address-phone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #000000;
}
